Source: gr-soapy
Section: science
Priority: optional
Maintainer: Libre Space Foundation <info@libre.space>
Build-Depends: cmake,
               debhelper (>= 9.0.0~),
               dh-python,
               doxygen,
               git,
               gnuradio-dev (>=3.8.0),
               libboost-date-time-dev,
               libboost-dev,
               libboost-filesystem-dev,
               libboost-program-options-dev,
               libboost-regex-dev,
               libboost-system-dev,
               libboost-test-dev,
               libboost-thread-dev,
               libgmp-dev,
               liblog4cpp5-dev,
               liborc-0.4-0,
               liborc-0.4-dev,
               liborc-0.4-dev-bin,
               libsoapysdr-dev,
               pkg-config,
               python3,
               python3-dev,
               python3-six,
               swig
X-Python-Version: >= 3.0,
Standards-Version: 3.9.8
Homepage: https://gitlab.com/librespacefoundation/gr-soapy
Vcs-Git: https://gitlab.com/librespacefoundation/gr-soapy.git
Vcs-Browser: https://gitlab.com/librespacefoundation/gr-soapy

Package: gr-soapy
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: libgnuradio-soapy (= ${binary:Version}),
         ${python:Depends},
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: gnuradio
Description: SoapySDR GNU Radio Out-Of-Tree Module
 gr-soapy is a GNURadio wrapper for the SoapySDR library.

Package: libgnuradio-soapy
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: SoapySDR GNU Radio Out-Of-Tree Module
 gr-soapy is a GNURadio wrapper for the SoapySDR library.
 .
 This package contains the shared library.
